In [557]:
import tabula
import pandas as pd
import os

In [558]:
def gender_distance_style_category(lista):
    """
    lista: result of pdf_to_csv
    """
    lista = lista[0]
    names = lista.columns
    #names in lowercase
    names = [name.lower() for name in names]
    names = [name.replace('á','a') for name in names]
    names = [name.replace('é','e') for name in names]
    names = [name.replace('í','i') for name in names]
    names = [name.replace('ó','o') for name in names]
    names = [name.replace('ú','u') for name in names]
    # Get the second name
    namessplitpoint = names[1].split('.')
    gender = namessplitpoint[0]
    distance = namessplitpoint[1].split(' ')[1]
    # remove letters in distance
    distance = ''.join([i for i in distance if not i.isalpha()])
    style = namessplitpoint[1].split(' ')[2]

    namessplitspace = names[4].split(' ')
    category = namessplitspace[0]

    return gender, distance, style, category

In [559]:
def columns_df(lista): 
    gender, distance, style, category = gender_distance_style_category(lista)
    return gender, distance, style, category, lista[0]

In [560]:
def add_columns(df, gender, distance, style, category): 
    #add to df 3 columns
    # First gender
    df["gender"] = [gender]*df.shape[0]
    # Second distance
    df["distance"] = [distance]*df.shape[0]
    # Third style
    df["style"] = [style]*df.shape[0]
    # Fourth category
    df["category"] = [category]*df.shape[0]
    return df

In [561]:
list_pdf1 = tabula.read_pdf("pdfs/ResultList_25.pdf", pages='all')
a = list_pdf1[0]
print(a.shape)

print(gender_distance_style_category(list_pdf1))

(12, 5)
('masc', '200', 'estilos', 'alevin')

In [562]:
list_pdf2 = tabula.read_pdf("pdfs/ResultList_26.pdf", pages='all')
list_pdf2[0]

,Prueba 26,"Fem., 200m Estilos",Unnamed: 0,Unnamed: 1,Unnamed: 2,Alevín Fem.
0,04/11/2023 - 16:20,NaN,NaN,NaN,NaN,Resultados
1,Clasificación,AN,NaN,NaN,Tiempo,Puntos
2,"1. ESCOBAR CHERBUY, Clara",11 C.N. Los Barrios,NaN,NaN,2:36.46,-
3,50m: 32.25 32.25 100m:,1:09.95 37.70 150m: 1:58.47 48.52,NaN,200m:,2:36.46,37.99
4,"2. MENA OROZCO, Carlota",11 C.D.N. Sanlucar,NaN,NaN,2:40.31,-
5,50m: 36.17 36.17 100m:,1:17.93 41.76 150m: 2:03.23 45.30,NaN,200m:,2:40.31,37.08
6,"3. MONGE AIXELA, Alexia",11 C.D.N. Ciudad De Algeciras,NaN,NaN,2:40.85,-
7,50m: 34.67 34.67 100m:,1:18.17 43.50 150m: 2:04.44 46.27,NaN,200m:,2:40.85,36.41
8,"4. MENA OROZCO, Blanca",11 C.D.N. Sanlucar,NaN,NaN,2:42.96,-
9,50m: 35.68 35.68 100m:,1:16.55 40.87 150m: 2:05.25 48.70,NaN,200m:,2:42.96,37.71
10,"5. REDONDO ZAMORA, Paloma",11 C.D.N. Ciudad De Algeciras,NaN,NaN,2:49.99,-
11,50m: 38.27 38.27 100m:,1:21.97 43.70 150m: 2:10.21 48.24,NaN,200m:,2:49.99,39.78
12,"6. DIAZ GONZALEZ, Alicia",11 C.D.N. Ciudad De Algeciras,NaN,NaN,2:55.09,-
13,50m: 37.74 37.74 100m:,1:19.59 41.85 150m: 2:13.65 54.06,NaN,200m:,2:55.09,41.44
14,"7. MORENO BUSTOS, Claudia",11 C.D.N. Ciudad De Algeciras,NaN,NaN,2:55.26,-
15,50m: 39.92 39.92 100m:,1:20.79 40.87 150m: 2:13.01 52.22,NaN,200m:,2:55.26,42.25
16,"8. BRAVO VILLAR, Marcela",11 C.N. Bahia De Cadiz,NaN,NaN,3:01.17,-
17,50m: 40.12 40.12 100m:,1:27.63 47.51 150m: 2:20.57 52.94,NaN,200m:,3:01.17,40.60
18,"9. JIMENEZ MARTINEZ, Claudia",12 C.N. San Fernando,NaN,NaN,3:08.59,-
19,50m: 41.95 41.95 100m:,1:31.83 49.88 150m: 2:23.85 52.02,NaN,200m:,3:08.59,44.74
20,"10. ESTEVEZ TERROBA, Leire",12 C.N. San Fernando,NaN,NaN,3:14.30,-
21,50m: 46.09 46.09 100m:,1:32.75 46.66 150m: 2:31.27 58.52,NaN,200m:,3:14.30,43.03

In [563]:
gender, distance, style, category, prueba1 = columns_df(list_pdf1)
print(prueba1)
prueba1 = add_columns(prueba1, gender, distance, style, category)

                       Prueba 25                Masc., 200m Estilos  \
0             04/11/2023 - 16:15                                NaN
1                  Clasificación                                 AN
2    1. RODRIGUEZ CASTRO, Victor      11 C.D.N. Ciudad De Algeciras
3         50m: 36.09 36.09 100m:  1:16.40 40.31 150m: 2:04.16 47.76
4        2. MOLINA NUÑEZ, Victor               11 C.N. San Fernando
5         50m: 39.14 39.14 100m:  1:24.00 44.86 150m: 2:20.29 56.29
6   3. RODRIGUEZ PIÑERO, Antonio               11 C.N. San Fernando
7         50m: 39.11 39.11 100m:  1:23.75 44.64 150m: 2:19.31 55.56
8          4. VIRUES ALBA, Pablo               11 C.N. San Fernando
9         50m: 41.12 41.12 100m:  1:29.23 48.11 150m: 2:25.85 56.62
10      5. RAMBOUK LARRUD, Imran      12 C.D.N. Ciudad De Algeciras
11        50m: 42.72 42.72 100m:  1:34.10 51.38 150m: 2:32.22 58.12

   Unnamed: 0 Unnamed: 1 Alevín Masc.
0         NaN        NaN   Resultados
1         NaN     Tiempo       Puntos
2         NaN    2:41.21            -
3       200m:    2:41.21        37.05
4         NaN    2:58.52            -
5       200m:    2:58.52        38.23
6         NaN    2:58.53            -
7       200m:    2:58.53        39.22
8         NaN    3:09.83            -
9       200m:    3:09.83        43.98
10        NaN    3:19.27            -
11      200m:    3:19.27        47.05

In [564]:
print(prueba1)

                       Prueba 25                Masc., 200m Estilos  \
0             04/11/2023 - 16:15                                NaN
1                  Clasificación                                 AN
2    1. RODRIGUEZ CASTRO, Victor      11 C.D.N. Ciudad De Algeciras
3         50m: 36.09 36.09 100m:  1:16.40 40.31 150m: 2:04.16 47.76
4        2. MOLINA NUÑEZ, Victor               11 C.N. San Fernando
5         50m: 39.14 39.14 100m:  1:24.00 44.86 150m: 2:20.29 56.29
6   3. RODRIGUEZ PIÑERO, Antonio               11 C.N. San Fernando
7         50m: 39.11 39.11 100m:  1:23.75 44.64 150m: 2:19.31 55.56
8          4. VIRUES ALBA, Pablo               11 C.N. San Fernando
9         50m: 41.12 41.12 100m:  1:29.23 48.11 150m: 2:25.85 56.62
10      5. RAMBOUK LARRUD, Imran      12 C.D.N. Ciudad De Algeciras
11        50m: 42.72 42.72 100m:  1:34.10 51.38 150m: 2:32.22 58.12

   Unnamed: 0 Unnamed: 1 Alevín Masc. gender distance    style category
0         NaN        NaN   Resultados   masc      200  estilos   alevin
1         NaN     Tiempo       Puntos   masc      200  estilos   alevin
2         NaN    2:41.21            -   masc      200  estilos   alevin
3       200m:    2:41.21        37.05   masc      200  estilos   alevin
4         NaN    2:58.52            -   masc      200  estilos   alevin
5       200m:    2:58.52        38.23   masc      200  estilos   alevin
6         NaN    2:58.53            -   masc      200  estilos   alevin
7       200m:    2:58.53        39.22   masc      200  estilos   alevin
8         NaN    3:09.83            -   masc      200  estilos   alevin
9       200m:    3:09.83        43.98   masc      200  estilos   alevin
10        NaN    3:19.27            -   masc      200  estilos   alevin
11      200m:    3:19.27        47.05   masc      200  estilos   alevin

In [565]:
#Select second column
prueba1.iloc[:,1]

0                                   NaN
1                                    AN
2         11 C.D.N. Ciudad De Algeciras
3     1:16.40 40.31 150m: 2:04.16 47.76
4                  11 C.N. San Fernando
5     1:24.00 44.86 150m: 2:20.29 56.29
6                  11 C.N. San Fernando
7     1:23.75 44.64 150m: 2:19.31 55.56
8                  11 C.N. San Fernando
9     1:29.23 48.11 150m: 2:25.85 56.62
10        12 C.D.N. Ciudad De Algeciras
11    1:34.10 51.38 150m: 2:32.22 58.12
Name: Masc., 200m Estilos, dtype: object

In [566]:
#Datacleaning
def nas_rows(df):
    # Remove columns with all NaN
    df.dropna(axis=1, how='all', inplace=True)
    # Remove rows with all NaN
    df.dropna(axis=0, how='all', inplace=True)
    # Remove first two rows
    df.drop([0,1], axis=0, inplace=True)
    # Reset index
    df.reset_index(drop=True, inplace=True)
    
    return df

In [567]:
print(nas_rows(prueba1))

                      Prueba 25                Masc., 200m Estilos Unnamed: 0  \
0   1. RODRIGUEZ CASTRO, Victor      11 C.D.N. Ciudad De Algeciras        NaN
1        50m: 36.09 36.09 100m:  1:16.40 40.31 150m: 2:04.16 47.76      200m:
2       2. MOLINA NUÑEZ, Victor               11 C.N. San Fernando        NaN
3        50m: 39.14 39.14 100m:  1:24.00 44.86 150m: 2:20.29 56.29      200m:
4  3. RODRIGUEZ PIÑERO, Antonio               11 C.N. San Fernando        NaN
5        50m: 39.11 39.11 100m:  1:23.75 44.64 150m: 2:19.31 55.56      200m:
6         4. VIRUES ALBA, Pablo               11 C.N. San Fernando        NaN
7        50m: 41.12 41.12 100m:  1:29.23 48.11 150m: 2:25.85 56.62      200m:
8      5. RAMBOUK LARRUD, Imran      12 C.D.N. Ciudad De Algeciras        NaN
9        50m: 42.72 42.72 100m:  1:34.10 51.38 150m: 2:32.22 58.12      200m:

  Unnamed: 1 Alevín Masc. gender distance    style category
0    2:41.21            -   masc      200  estilos   alevin
1    2:41.21        37.05   masc      200  estilos   alevin
2    2:58.52            -   masc      200  estilos   alevin
3    2:58.52        38.23   masc      200  estilos   alevin
4    2:58.53            -   masc      200  estilos   alevin
5    2:58.53        39.22   masc      200  estilos   alevin
6    3:09.83            -   masc      200  estilos   alevin
7    3:09.83        43.98   masc      200  estilos   alevin
8    3:19.27            -   masc      200  estilos   alevin
9    3:19.27        47.05   masc      200  estilos   alevin

In [568]:
def puntos(df):
    # extract the forth column starting by the end
    points = df.iloc[:,-5].tolist()
    # remove elements from puntos which are "-"
    points = [point for point in points if point != "-"]
    # remove the column
    df.drop(df.columns[-5], axis=1, inplace=True)
    return points, df
def even_odd(df):
    # create a new dataframe with even rows
    even = df.iloc[::2]
    # create a new dataframe with odd rows
    odd = df.iloc[1::2]
    return even, odd

def evenANDpuntos(df):
    even, _ = even_odd(df)
    score, _ = puntos(df)
    # convert to float
    score = [float(x) for x in score]
    # add puntos to even
    even["score"] = score
    # reset index
    even.reset_index(drop=True, inplace=True)
    return even

print(evenANDpuntos(prueba1))

                      Prueba 25            Masc., 200m Estilos Unnamed: 0  \
0   1. RODRIGUEZ CASTRO, Victor  11 C.D.N. Ciudad De Algeciras        NaN
1       2. MOLINA NUÑEZ, Victor           11 C.N. San Fernando        NaN
2  3. RODRIGUEZ PIÑERO, Antonio           11 C.N. San Fernando        NaN
3         4. VIRUES ALBA, Pablo           11 C.N. San Fernando        NaN
4      5. RAMBOUK LARRUD, Imran  12 C.D.N. Ciudad De Algeciras        NaN

  Unnamed: 1 Alevín Masc. gender distance    style category  score
0    2:41.21            -   masc      200  estilos   alevin  37.05
1    2:58.52            -   masc      200  estilos   alevin  38.23
2    2:58.53            -   masc      200  estilos   alevin  39.22
3    3:09.83            -   masc      200  estilos   alevin  43.98
4    3:19.27            -   masc      200  estilos   alevin  47.05

/var/folders/vh/zcb0v6590hq0668t1p4zhgqc0000gn/T/ipykernel_1178/3666507279.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  even["score"] = score

It is too difficult to extract every 50m lap. So I'll only keep the final result. In a future I'll do it.

In [569]:
even, odd = even_odd(prueba1)
print(even)
print(odd)

                      Prueba 25            Masc., 200m Estilos Unnamed: 0  \
0   1. RODRIGUEZ CASTRO, Victor  11 C.D.N. Ciudad De Algeciras        NaN
2       2. MOLINA NUÑEZ, Victor           11 C.N. San Fernando        NaN
4  3. RODRIGUEZ PIÑERO, Antonio           11 C.N. San Fernando        NaN
6         4. VIRUES ALBA, Pablo           11 C.N. San Fernando        NaN
8      5. RAMBOUK LARRUD, Imran  12 C.D.N. Ciudad De Algeciras        NaN

  Unnamed: 1 gender distance    style category
0    2:41.21   masc      200  estilos   alevin
2    2:58.52   masc      200  estilos   alevin
4    2:58.53   masc      200  estilos   alevin
6    3:09.83   masc      200  estilos   alevin
8    3:19.27   masc      200  estilos   alevin
                Prueba 25                Masc., 200m Estilos Unnamed: 0  \
1  50m: 36.09 36.09 100m:  1:16.40 40.31 150m: 2:04.16 47.76      200m:
3  50m: 39.14 39.14 100m:  1:24.00 44.86 150m: 2:20.29 56.29      200m:
5  50m: 39.11 39.11 100m:  1:23.75 44.64 150m: 2:19.31 55.56      200m:
7  50m: 41.12 41.12 100m:  1:29.23 48.11 150m: 2:25.85 56.62      200m:
9  50m: 42.72 42.72 100m:  1:34.10 51.38 150m: 2:32.22 58.12      200m:

  Unnamed: 1 gender distance    style category
1    2:41.21   masc      200  estilos   alevin
3    2:58.52   masc      200  estilos   alevin
5    2:58.53   masc      200  estilos   alevin
7    3:09.83   masc      200  estilos   alevin
9    3:19.27   masc      200  estilos   alevin

In [570]:
print(odd.iloc[:,0])
print(odd.iloc[:,1])
print(odd.iloc[:,2])
print(odd.iloc[:,3])
print(odd.iloc[:,4])
print(odd.iloc[:,5])
print(odd.iloc[:,6])
print(odd.iloc[:,7])
print(odd.iloc[:,8])

1    50m: 36.09 36.09 100m:
3    50m: 39.14 39.14 100m:
5    50m: 39.11 39.11 100m:
7    50m: 41.12 41.12 100m:
9    50m: 42.72 42.72 100m:
Name: Prueba 25, dtype: object
1    1:16.40 40.31 150m: 2:04.16 47.76
3    1:24.00 44.86 150m: 2:20.29 56.29
5    1:23.75 44.64 150m: 2:19.31 55.56
7    1:29.23 48.11 150m: 2:25.85 56.62
9    1:34.10 51.38 150m: 2:32.22 58.12
Name: Masc., 200m Estilos, dtype: object
1    200m:
3    200m:
5    200m:
7    200m:
9    200m:
Name: Unnamed: 0, dtype: object
1    2:41.21
3    2:58.52
5    2:58.53
7    3:09.83
9    3:19.27
Name: Unnamed: 1, dtype: object
1    masc
3    masc
5    masc
7    masc
9    masc
Name: gender, dtype: object
1    200
3    200
5    200
7    200
9    200
Name: distance, dtype: object
1    estilos
3    estilos
5    estilos
7    estilos
9    estilos
Name: style, dtype: object
1    alevin
3    alevin
5    alevin
7    alevin
9    alevin
Name: category, dtype: object

IndexError: single positional indexer is out-of-bounds

In [ ]:
# Convert the dataframe to csv

def df_to_csv(df, name):
    path = "csvs/" + name + ".csv"
    df.to_csv(path, index=False)

In [ ]:
df_to_csv(prueba1, "prueba1")

In [ ]:
laps = [str(i) + 'm:' for i in range(50, 1550, 50)]
def process_string(s):
    for lap in laps:
        s = s.replace(lap, '')
    s = s.replace(',', '')
    s = ' '.join(s.split())
    return s


times = []
for i in range(0, 2):
    times.extend(odd.iloc[:,i].apply(process_string).tolist())
    
# for every element in times list, split it by space and get the second element
times = [time.split(' ')[1] for time in times]
print(times)

print(odd.shape)

print(odd)

['36.09', '39.14', '39.11', '41.12', '42.72', '40.31', '44.86', '44.64', '48.11', '51.38']
(5, 9)
                Prueba 25                Masc., 200m Estilos Unnamed: 0  \
1  50m: 36.09 36.09 100m:  1:16.40 40.31 150m: 2:04.16 47.76      200m:
3  50m: 39.14 39.14 100m:  1:24.00 44.86 150m: 2:20.29 56.29      200m:
5  50m: 39.11 39.11 100m:  1:23.75 44.64 150m: 2:19.31 55.56      200m:
7  50m: 41.12 41.12 100m:  1:29.23 48.11 150m: 2:25.85 56.62      200m:
9  50m: 42.72 42.72 100m:  1:34.10 51.38 150m: 2:32.22 58.12      200m:

  Unnamed: 1 Alevín Masc. gender distance    style category
1    2:41.21        37.05   masc      200  estilos   alevin
3    2:58.52        38.23   masc      200  estilos   alevin
5    2:58.53        39.22   masc      200  estilos   alevin
7    3:09.83        43.98   masc      200  estilos   alevin
9    3:19.27        47.05   masc      200  estilos   alevin